#previewFull {
  background-color: #666666 !important;
  width: 1282px !important;
  color: inherit;
}

#liveUpdateContactInfo {
}

body {
  background-color: #111827 !important;
  color: inherit;
}

#stage, #stage2 {
  border-bottom: 1px dotted #7F7F7F !important;
}

#sitetitle {
  border-bottom: 1px dotted #7F7F7F !important;
}

.borderRight {
  border-right: 1px solid #FBFFD1 !important;
}

.logo {
  display: inherit !important;
}

.detailText {
  color: #F78282 !important;
  background-color: inherit;
}

.preview {
  border: 1px solid #000000 !important;
}

.thumbnail {
  background-color: #2C363A !important;
  color: inherit;
}

#wrapper_thumb {
  width: 1289px !important;
}

#stage2 {
  width: 1289px !important;
}

.itemNumber {
  color: #C9C9C9 !important;
  display: inherit !important;
  background-color: inherit;
}

.caption {
  color: #B3B3B3 !important;
  background-color: inherit;
}

.borderTopLeft {
  border-top: 1px solid #FBFFD1 !important;
  border-left: 1px solid #FBFFD1 !important;
}

.selectedThumbnail, .thumbnail:hover {
  background-color: #FFFFFF !important;
  color: inherit;
}

.borderRightDotted {
  border-right: 1px dotted #FBFFD1 !important;
}

.borderBottomRight {
  border-right: 1px solid #FBFFD1 !important;
  border-bottom: 1px solid #FBFFD1 !important;
}

#wrapper_large {
  width: 1289px !important;
}

.emptyThumbnail {
  background-color: #2C363A !important;
  color: inherit;
}

#previewImage {
  maxSize: 1024.00 !important;
}

.paginationLinks, .pagination, #liveUpdatePagination {
}

.thumb {
  border: 1px solid #000000 !important;
}

#liveUpdateSiteTitle {
}

.borderBottom {
  border-bottom: 1px solid #FBFFD1 !important;
}

#stage {
  width: 1289px !important;
}

.textColor {
  color: #DCA2B5 !important;
  background-color: inherit;
}
